<!-- Add when create owner shop-->
<!DOCTYPE html>
<html>

<head>
    <title>Porduct Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css" type="text/css">
    <link rel="icon" href="../img/teddy-bear-vector-png.png" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Details</h1>
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
        </ul>
    </nav>
    <main>
        <h2>Product Details</h2>
    </main>
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Teddy<span>Trader</span></h3>

            <p class="footer-links">
                <a href="../index.html">Home</a>
                ·
                <a href="../blogs/blogs.html">Blog</a>
                ·
                <a href="#">Pricing</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">teddytrader &copy; 2023</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p>Sisaket, Thailand</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+66 090 2974993</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">guide.band8@gmail.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the Website</span>
                Trading, Investing &amp; Life Long Learner.
            </p>
        </div>

    </footer>

</body>